[submodule "projects/Gibbed.IO"]
	path = projects/Gibbed.IO
	url = https://github.com/gibbed/Gibbed.IO.git
	branch = main
[submodule "projects/NDesk.Options"]
	path = projects/NDesk.Options
	url = https://github.com/gibbed/NDesk.Options.git
	branch = main
[submodule "projects/Gibbed.Squish"]
	path = projects/Gibbed.Squish
	url = https://github.com/gibbed/Gibbed.Squish.git
	branch = main
[submodule "projects/Gibbed.ProjectData"]
	path = projects/Gibbed.ProjectData
	url = https://github.com/gibbed/Gibbed.ProjectData.git
	branch = main
[submodule "configs/Far Cry 2/files"]
	path = configs/Far Cry 2/files
	url = https://github.com/gibbed/FarCry2-File-Lists.git
[submodule "configs/Far Cry 6/files"]
	path = configs/Far Cry 6/files
	url = https://github.com/gibbed/FarCry6-File-Lists.git
[submodule "configs/Far Cry 5/files"]
	path = configs/Far Cry 5/files
	url = https://github.com/gibbed/FarCry5-File-Lists.git
[submodule "configs/Far Cry New Dawn/files"]
	path = configs/Far Cry New Dawn/files
	url = https://github.com/gibbed/FarCryNewDawn-File-Lists.git
[submodule "configs/Far Cry Primal/files"]
	path = configs/Far Cry Primal/files
	url = https://github.com/gibbed/FarCryPrimal-File-Lists.git
